<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% load static  %}
    <link rel="styleSheet" href="{% static 'css/style.css' %}">
</head>
<body>
   {% include "navbar.html" %} 
    {% block content %}

    {% endblock %}
{% include "footer.html" %} 
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src='{% static "js/javascript.js" %}'></script>
</body>
</html>